

<div class="flex-item c-3">
    <div class="species-categories-list mb-1">
        <f:link.action action="listByCategory" controller="Species" pluginName="listByCategory" pageUid="{settings.listCatPid}">
            Artensteckbriefe
        </f:link.action>
        <ul>
            <f:for each="{speciesCategories}" as="category">

                <li class="species-family {f:if(condition: '{species.family.parent.uid} == {category.uid}', then: 'active')}">
                    <f:comment><!-- anchor link to list "Artensteckbriefe" --></f:comment>
                    <f:comment>
                        <f:link.action action="listByCategory" controller="Species" section="anchor-category-{category.uid}"  class="js__species-family">
                            {category.parent.title}
                        </f:link.action>
                    </f:comment>
                    <a href="#" class="js__species-family">
                        {category.title}
                    </a>
                    <ul class="species-subfamily">
                        <f:for each="{speciesList}" as="speciesItem">
                            <f:if condition="{speciesItem.family.parent.uid} == {category.uid}">
                                <li>
                                    <f:if condition="{speciesItem.uid} == {species.uid}">
                                        <f:then>
                                            <f:comment><!-- current shown species --></f:comment>
                                            <strong>{speciesItem.name}</strong>
                                        </f:then>
                                        <f:else>
                                            <f:link.action action="show" controller="Species" arguments="{species : speciesItem}">
                                                {speciesItem.name}
                                            </f:link.action>
                                        </f:else>
                                    </f:if>
                                </li>
                            </f:if>
                        </f:for>
                    </ul>
                </li>
            </f:for>
        </ul>
    </div>

    <h5>Phänogramm</h5>
    <f:if condition="{species.sidebarImg}">
        <section class="js-lightbox">
            <div class="gallery">
                <div class="gallery__image">
                    <a class="js-open-lightbox" href="#" data-lightbox="lightbox-gallery" data-index="0">
                        <svg class="gallery__image-icon icon icon--24"><use xlink:href="#ui-fullscreen"></use></svg>
                        <figure>
                            <f:image image="{species.sidebarImg}" alt="{species.sidebarImg.name}" width="300px" />
                        </figure>
                    </a>
                </div>
            </div>
            <div id="lightbox-gallery" class="lightbox" style="opacity: 0; visibility: hidden;">
                <picture class="picture / lightbox__img" style="visibility: hidden; opacity: 0;">
                    <f:image image="{species.sidebarImg}" alt="{species.sidebarImg.name}" />
                </picture>

                <div class="bar bar--bottom bar--fixed">
                    <div class="bar__icons bar__icons--right">
                        <a class="bar__icon js-close-lightbox" href=""><svg class="icon"><use xlink:href="#ui-close"></use></svg></a>
                        <a class="bar__icon js-lightbox-prev" href=""><svg class="icon"><use xlink:href="#ui-prev"></use></svg></a>
                        <a class="bar__icon js-lightbox-next" href=""><svg class="icon"><use xlink:href="#ui-next"></use></svg></a>
                    </div>
                    <div class="bar__icons bar__icons--left">
                        <div class="bar__text align-center">
                            <span class="js-lightbox-counter">
                            <span class="current__img">1</span> / <span class="max__img">2</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </f:if>
</div>