<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">


<h1>Artenliste</h1>
<h2>Liste der Arten in Tabelle</h2>
<f:if condition="{speciesList}">
    <div id="tx-hgonspecies-list">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <td><strong>Artname<br> (wissenschaftlich)</strong></td>
                        <td><strong>Artname<br> (deutsch)</strong></td>
                        <td><strong>Familie</strong></td>
                        <td><strong>Zahl d.<br> MTB/64</strong></td>
                        <td><strong>Nachw.</strong></td>
                        <td><strong>Bemerkungen</strong></td>
                    </tr>
                    <f:for each="{speciesList}" as="species" iteration="iter">
                        <f:render partial="Species/ListItem" arguments="{_all}" />
                    </f:for>
                </tbody>
            </table>
        </div>
    </div>
</f:if>
<h2>Liste der Arten nach Kategorie</h2>
<f:if condition="{speciesList}">
    <div id="tx-hgonspecies-list">
        <h3>Kagegorie 1</h3>
        <div class="flex-container gutter valign-stretch no-padding">
            <div class="flex-item c-4">
                <div class="frame frame-default frame-type-textpic frame-layout-14">
                    <article class="card card--shadow">
                            <picture class="card__image">
                                <source media="(min-width: 64.063em)" srcset="fileadmin/media/image-placeholder.jpg">
                                <img class="image-embed-item" src="fileadmin/media/image-placeholder.jpg" width="395" height="300" alt="" title="Kormoran">
                            </picture>
                        <div class="card__inner">
                            <div class="card__content">
                                <p>
                                    Cordulia aenea (Linnaeus, 1758) – Falkenlibelle                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        
            <div class="flex-item c-4">
                <div class="frame frame-default frame-type-textpic frame-layout-14">
                    <article class="card card--shadow">
                            <picture class="card__image">
                                <source media="(min-width: 64.063em)" srcset="fileadmin/media/image-placeholder.jpg">
                                <img class="image-embed-item" src="fileadmin/media/image-placeholder.jpg" width="395" height="300" alt="" title="Kormoran">
                            </picture>
                        <div class="card__inner">
                            <div class="card__content">
                                <p>
                                    Cordulia aenea (Linnaeus, 1758) – Falkenlibelle                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        
            <div class="flex-item c-4">
                <div class="frame frame-default frame-type-textpic frame-layout-14">
                    <article class="card card--shadow">
                            <picture class="card__image">
                                <source media="(min-width: 64.063em)" srcset="fileadmin/media/image-placeholder.jpg">
                                <img class="image-embed-item" src="fileadmin/media/image-placeholder.jpg" width="395" height="300" alt="" title="Kormoran">
                            </picture>
                        <div class="card__inner">
                            <div class="card__content">
                                <p>
                                    Cordulia aenea (Linnaeus, 1758) – Falkenlibelle                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="flex-item c-4">
                <div class="frame frame-default frame-type-textpic frame-layout-14">
                    <article class="card card--shadow">
                            <picture class="card__image">
                                <source media="(min-width: 64.063em)" srcset="fileadmin/media/image-placeholder.jpg">
                                <img class="image-embed-item" src="fileadmin/media/image-placeholder.jpg" width="395" height="300" alt="" title="Kormoran">
                            </picture>
                        <div class="card__inner">
                            <div class="card__content">
                                <p>
                                    Cordulia aenea (Linnaeus, 1758) – Falkenlibelle                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <h3>Kagegorie 2</h3>
        <div class="flex-container gutter valign-stretch no-padding">
            <div class="flex-item c-4">
                <div class="frame frame-default frame-type-textpic frame-layout-14">
                    <article class="card card--shadow">
                            <picture class="card__image">
                                <source media="(min-width: 64.063em)" srcset="fileadmin/media/image-placeholder.jpg">
                                <img class="image-embed-item" src="fileadmin/media/image-placeholder.jpg" width="395" height="300" alt="" title="Kormoran">
                            </picture>
                        <div class="card__inner">
                            <div class="card__content">
                                <p>
                                    Cordulia aenea (Linnaeus, 1758) – Falkenlibelle                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        
            <div class="flex-item c-4">
                <div class="frame frame-default frame-type-textpic frame-layout-14">
                    <article class="card card--shadow">
                            <picture class="card__image">
                                <source media="(min-width: 64.063em)" srcset="fileadmin/media/image-placeholder.jpg">
                                <img class="image-embed-item" src="fileadmin/media/image-placeholder.jpg" width="395" height="300" alt="" title="Kormoran">
                            </picture>
                        <div class="card__inner">
                            <div class="card__content">
                                <p>
                                    Cordulia aenea (Linnaeus, 1758) – Falkenlibelle                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</f:if>

</html>