<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">


<div id="tx-hgonspecies">


        <f:if condition="{species.recordType} == 'bird'">
            <f:render partial="Species/Show/Bird" arguments="{_all}" />
        </f:if>

        <f:if condition="{species.recordType} == 'dragonfly'">
            <f:render partial="Species/Show/Dragonfly" arguments="{_all}" />
        </f:if>

        <f:if condition="{species.recordType} == 'default'">
            <f:comment><!-- There is no real default view yet --></f:comment>
            <f:render partial="Species/Show/Dragonfly" arguments="{_all}" />
        </f:if>


</div>


<f:comment>
    <!-- Verschoben, weil Fluid keine variablen mehr ausgeben konnte beim sidebar Bild. Irgendwas stimmt nicht mit dem Code. -->
</f:comment>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function (event) {
        jQuery('.js__species-family').click(function (e) {
            e.preventDefault();
            jQuery('.species-family').removeClass('active');
            jQuery(this).parent().addClass('active');
        });
    });
</script>

</html>