<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <div class="grid">
        <f:render partial="Species/Show/Components/Header" arguments="{_all}" />
    </div>

    <div class="flex-container space-between gutter">

        <div class="flex-item c-4">
            <f:render partial="Species/Show/Components/Col1" arguments="{_all}" />
        </div>

        <div class="flex-item c-5">
            <h2>Merkmale</h2>
            <f:format.raw>
                {species.characteristic}
            </f:format.raw>
            <h2>Lebensraum</h2>
            <f:format.raw>
                {species.habitat}
            </f:format.raw>
            <h2>Verbreitung</h2>
            <f:format.raw>
                {species.dissemination}
            </f:format.raw>
            <div class="flex-container no-padding">
                <div class="flex-item c-6 no-padding flex-item--medium-half">
                    <p>
                        Rasterfrequenz (%): {species.gridFrequency}
                    </p>
                </div>
                <div class="flex-item c-6 no-padding flex-item--medium-half">
                    <p>
                        Stand: <f:format.date format="d.m.Y">{species.lastUpdatedDate}</f:format.date>
                    </p>
                </div>
            </div>
            <h2>Rote Liste</h2>
            <div class="flex-container no-padding">
                <div class="flex-item c-6 no-padding flex-item--medium-half">
                    <p>
                        Hessen: {species.redListHessia}
                    </p>
                </div>
                <div class="flex-item c-6 no-padding flex-item--medium-half">
                    <p>
                        Deutschland: {species.redListGermany}
                    </p>
                </div>
            </div>
            <h2>Phänologie</h2>
            <f:format.raw>
                {species.phenology}
            </f:format.raw>
            <div class="flex-container no-padding">
                <div class="flex-item c-6 no-padding flex-item--medium-half">
                    <p>EB: <f:format.date format="d.m.Y">{species.firstSpotted}</f:format.date>
                    </p>
                </div>
                <div class="flex-item c-6 no-padding flex-item--medium-half">
                    <p>LB: <f:format.date format="d.m.Y">{species.lastSpotted}</f:format.date>
                    </p>
                </div>
            </div>

        </div>

        <f:render partial="Species/Show/Components/Sidebar" arguments="{_all}" />

    </div>

</html>